*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html
{
    scroll-behavior: smooth;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight:  weight;
    font-style: normal;
}
a , li 
{
    text-decoration: none;
    list-style: none;
}
@font-face {
    font-family: 'MyCustomFont';
    src: url('../../public/fonts/Pacifico-Regular.woff2') format('woff2'),
         url('../../public/fonts/Pacifico-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
